/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

.header {
  height: 90px;
  color: #fff;
  background-color: #26d0c9;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  margin: 100px 80px;
}

.main-top h1 {
  font-size: 140px;
}

.main-top span {
  color: #ff4a4a;
}

.main-top h2 {
  font-size: 60px;
}

.main-contents {
  margin-top: 100px;
  height: 500px;
}

.contents-title h3 {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 2px solid #dee7ec;
} 

.main-contents-item {
  float: left;
  margin-right: 40px;
}

.main-contents-item p {
  margin-top: 30px;
  font-size: 24px;
}

.contact-form {
  margin: 100px 80px;
}

.contact-form p {
  width: 400px;
  margin-bottom: 10px;
}

input, textarea {
  width: 400px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #dee7ec;
  font-size: 18px;
}

.contact-form-sousin {
  color: #889eab;
  background-color: #dee7ec;
}

.footer {
  height: 120px;
  padding: 40px;
  color: #fff;
  background-color: #2f5167;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  margin-bottom: 20px;
  
}
